<section class="container">
    <div id="logo">
        <img src="./img/camiseta.png" alt="camiseta">
        <a [routerLink]="['/home']">Tienda de camisetas</a>
    </div>
    <nav id="menu">
        <ul>
            <li><a [routerLink]="['/home']" routerLinkActive="activo">Inicio</a></li>
            @for(categoria of categorias; track categoria.id){
            <li><a [routerLink]="['/categoria', categoria.id]" routerLinkActive="activo">{{categoria.nombre}}</a></li>
            }
        </ul>
    </nav>
</section>