<section class="container">
    <div id="logo">
        <img src="./img/camiseta.png" alt="camiseta">
        <a [routerLink]="['/home']">Tienda de camisetas</a>
    </div>
    <nav id="menu">
        <ul>
            <li><a [routerLink]="['/home']" routerLinkActive="activo">Inicio</a></li>
            <li><a [routerLink]="['/#']" routerLinkActive="activo">Categoria 1</a></li>
            <li><a [routerLink]="['/#']" routerLinkActive="activo">Categoria 2</a></li>
            <li><a [routerLink]="['/#']" routerLinkActive="activo">Categoria 3</a></li>
            <li><a [routerLink]="['/#']" routerLinkActive="activo">Categoria 4</a></li>
            <li><a [routerLink]="['/#']" routerLinkActive="activo">Categoria 5</a></li>
        </ul>
    </nav>
</section>