section{
    height: 195px;
    background: #f0f0f0;
}
#logo{
    display: flex;
    padding: 20px;
    margin-left: 20px;
}
#logo img{
    height: 100px;
}
#logo a{
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Open Sans',Helvetica,Arial;
    text-transform: uppercase;
    color:#01b1ea;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0 2px 1px #222222;
    transition: all 300ms;
}
#logo a:hover{
    text-shadow: 0 2px 1px #222222, 0 0 4px #01b1ea;
}
#menu{
    background: #222;
    color:white;
    height:55px;
    border-bottom: 4px solid #01b1ea;
}

#menu ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    margin:0 auto;
    margin-left: 25px;
}
#menu ul li{
    line-height: 55px;
    border-right: 1px solid #363636;
}
#menu a{
    color:white;
    text-decoration: none;
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}
#menu a:first-child{
    border-left: 1px solid #363636;
}
#menu a:hover{
    background: #01b1ea;
}