<section>
    <h1>Carrito de la compra</h1>
    <table>
        <tr>
            <th>Id Prod</th>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Eliminar</th>
        </tr>
        @for(elem of carrito;track elem.id){
        <tr>
            <td>{{elem.producto.id}}</td>
            <td><a [routerLink]="['/producto/detalle/',elem.producto.id]"><img [src]="getImageUrl(elem.producto.imagen)"
                        alt="imagen producto"></a></td>
            <td>{{elem.producto.nombre}}</td>
            <td>{{elem.producto.precio}} €</td>
            <td>
                <a class="botones" (click)="decrementar(elem.producto.id)">-</a>
                {{elem.cantidad}}
                <a class="botones" (click)="incrementar(elem.producto.id)">+</a>
            </td>
            <td><button class="btn-red" (click)="eliminarProducto(elem.producto.id)">Eliminar</button></td>
        </tr>
        }
    </table>
    
    <div class="totales">
        <p>Precio total: {{stats.precioTotal}} €</p>
        <button [routerLink]="['/pedido/crear']">Hacer pedido</button>
        <button class="btn-red" (click)="vaciarCarrito()">Vaciar Carrito</button>
    </div>


</section>