.container{
    display: flex;
    justify-content: left;
    margin-left:0;
    height: 500px;
}
input, label{
    margin: 1rem;
}
input[type="submit"]{
    padding: 12px;
}
.text-danger{
    color:red;
    /*background-color: red;*/
    padding: 5px;
}
.text-success{
    color:white;
    background-color: green;
    padding: 5px;
}