<section>
    @if(isAdmin){
    <h1>Detalle del pedido</h1>
    <div [class.text-danger]="tipo === false" [class.text-success]="tipo === true">{{mensaje}}</div>
    <form [formGroup]="miForm" (ngSubmit)="cargarDatos()">
        <select formControlName="estado">
            <option value="confirmado" [selected]="(pedido[0]?.estado==='confirmado') ? 'true' : 'false' ">Pendiente
            </option>
            <option value="preparando" [selected]="(pedido[0]?.estado==='preparando') ? 'true' : 'false' ">En
                preparación</option>
            <option value="ready" [selected]="(pedido[0]?.estado==='ready') ? 'true' : 'false' ">Preparado para enviar
            </option>
            <option value="enviado" [selected]="(pedido[0]?.estado==='enviado') ? 'true' : 'false' ">Envidado</option>
        </select>
        <input type="submit" value="Cambiar estado">
    </form>
    <br>
    }

    <h3>Cambiar estado del pedido:</h3>
    <br>
    <h3>Dirección de envío</h3>
    <p>Provincia: {{pedido[0]?.provincia}}</p>
    <p>Localidad: {{pedido[0]?.localidad}}</p>
    <p>Dirección: {{pedido[0]?.direccion}}</p>
    <br>

    <h3>Datos del pedido:</h3>
    <p>Estado: @switch(pedido[0]?.estado){
        @case ('confirmado') { Pendiente }
        @case ('preparando') { En preparación }
        @case ('ready') { Preparado para enviar }
        @case ('enviado') { Enviado }
        @default { Pendiente }
        }</p>
    <p>Número de pedido: {{pedido[0]?.id}}</p>
    <p>Total a pagar: {{pedido[0]?.coste}} €</p>
    <br>
    <h3>Productos:</h3>
    <table>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Unidades</th>
        </tr>
        @for(elem of pedido; track elem.id){
        <tr>
            <td><img [src]="getImageUrl(elem.imagen)" alt="imagen del producto"></td>
            <td><a [routerLink]="['/producto/detalle/',elem.producto_id]">{{elem.nombre}}</a></td>
            <td>{{elem.precio}}</td>
            <td>{{elem.unidades}}</td>
        </tr>
        }
    </table>
</section>