table{
    text-align: center;
    width: 100%;
    border:1px solid #555;
}
td{
    border-top:1px solid #ccc;
    padding: 2px;
}
img{
    height: 4rem;
}
.text-danger{
    color:red;
}
.text-success{
    background-color: green;
    color:white;
}