#contenido{
    margin:0 auto;
    background-color: white;
}
.flex{
    display:flex;

}
#lateral{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    margin-top: 20px;
    margin-left: 10px;
}
#lateral .block_aside{
    display:block;
    width: 90%;
    margin:5px auto;
    padding: 10px;
}
#lateral h3{
    display: block;
    color:#222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #e1e1e1;
    border-bottom: 2px solid #01b1ea;
}
#lateral ul{
    margin:20px 0;
}
#lateral ul li{
    list-style: square;
    margin-left:20px;
    margin:5px 0;
}
#central{
    min-height: 500px;
    flex: 0 0 75%;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding: 25px;
}
#central h1{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom:1px solid #ccc;
    margin-bottom: 20px;
    padding: 0 20px 20px 20px;

}
.products{
    display: flex;
}
.product{
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    border-right: 1px solid #ccc;
    text-align: center;
}
.product img{
    width: 100px;
    margin-bottom: 10px;
}
.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}
.product p{
    font-weight: bold;
    color:#555;
    margin-bottom: 10px;
}
form input[type="submit"]{
    margin-top: 15px;
    padding: 10px;
}