.container{
    width: 100%;
    height: 60vh;
}
#contenido{
    width: 100%;
    height: 60vh;
    background-color: white;
}
.flex{
    display:flex;
}

#central{
    width: 100%;
    height: 60vh;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
}
#central h1{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom:1px solid #ccc;
    margin-bottom: 20px;
    padding: 0 20px 20px 20px;

}
.products{
    display: flex;
}
.product{
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    border-right: 1px solid #ccc;
    text-align: center;
}
.product img{
    width: 100px;
    margin-bottom: 10px;
}
.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}
.product p{
    font-weight: bold;
    color:#555;
    margin-bottom: 10px;
}
.container{
    margin-left: 0;
}
a{
    color:white;
}