section{
    background-color: white;
    height: 500px;
    width: 80%;
}
table{
    text-align: center;
    width: 100%;
    border:1px solid #555;
}
td{
    border-top:1px solid #ccc;
    padding: 2px;
}
.btn-small{
    width:140px;
    text-align: center;
    margin: 10px 0 20px 0;
    color:white;
}
a{
    cursor: pointer;
}