*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,Helvetica,Arial;
}
body{
    background: url(/img/bg.png);
}
a{
    color:#01b1ea;
}
a:visited{
    color:#01b1ea;
}
a:hover{
    color:#555;
}
.container{
    width: 80%;
    margin:0 auto;
    box-shadow: 0 0 10px gray;
    background: white;
}
label,
input[type="text"],
input[type="password"],
input[type="email"],
select{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}
input[type="text"],
input[type="password"],
input[type="email"],
select{
    border:1px solid #c9c9c9;
    box-shadow: 0 0 2px #ccc inset;
    background-color: white;
    padding: 2px;
    color:gray;
    transition: all 300ms;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
    border: 1px solid #1579b5;
    color:black;
}
input[type="button"],
input[type="submit"],
button,
.button{
    display: block;
    border-radius: 2px;
    width: auto;
    padding: 5px 10px;
    color:white;
    background-color: #2979cd;
    border:1px solid #11608e;
    cursor:pointer;
}
.button{
    background-color: #33ae3d;
    color:white;
    text-decoration: none;

}
label,
input[type="text"],
input[type="password"],
input[type="email"]{
    display: block;
    margin-top: 10px;
}