<section>
    <h1>Gestión de pedidos</h1>
    <table>
        <tr>
            <th>Nº Pedido</th>
            <th>Coste</th>
            <th>Fecha</th>
            <th>Usuario</th>
        </tr>
        @for(pedido of pedidosFiltrados; track pedido.id){
        <tr>
            <td><a [routerLink]="['/pedido/detalle/',pedido.id]">{{pedido.id}}</a></td>
            <td>{{pedido.coste}}</td>
            <td>{{ pedido.fecha | date:'dd/MM/yyyy' }}</td>
            <td>{{pedido.email}}</td>
        </tr>
        }
    </table>
    <table>
        <tr>
            <th>Nº Pedido <img class="icono" src="./img/lupa.png" alt="icono lupa"></th>
            <th>Coste <img class="icono" src="./img/lupa.png" alt="icono lupa"></th>
            <th>Fecha <img class="icono" src="./img/lupa.png" alt="icono lupa"></th>
            <th>Usuario <img class="icono" src="./img/lupa.png" alt="icono lupa"></th>
        </tr>
        <tr class="buscadores">
            <td><input type="text" (input)="buscarDatos($event,'pedido')"></td>
            <td><input type="text" (input)="buscarDatos($event,'coste')"></td>
            <td><input type="date" (input)="buscarDatos($event,'fecha')"></td>
            <td><input type="text" (input)="buscarDatos($event,'email')"></td>
        </tr>
    </table>
</section>